body {
    background: #333;
    color:white;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8
}

#home-section {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay{
  position: absolute;  
  top:0;
  left:0;
  width:100%;
  min-height: 700px;
  background-color: rgba(0,0,0,0.7);
}